/* shared styles */

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.btn{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

/* section 1 styles */

.section1-container {
    display: flex;
    justify-content:start;
    height: 100vh;
    align-items:center;
    background: rgba(229, 84, 115, 0.322);
    padding-left: 150px;
    background-image: url("../Flower Asset/pngwing\ 10.png");
    background-position:bottom right;
    background-size: 30%;
    background-repeat: no-repeat;
}

.section1-text {
    width: 708px;
}

.section1-header {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-top: 197px;
    margin-bottom: 32px;
    width: 70%;
}

.section1-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    width: 634px;
    height: 90px;
}

.section1-btn {
    margin-bottom: 167px;
}

/* section 2 styles */

.section2-text {
    text-align: center;
    margin-top: 178px;
}

.section2-header {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.section2-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-bottom: 48px;

}

.section2-box-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 128px;
}

.box {
    text-align: center;
}

.box a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.img-box {
    width: 400;
    height: 450px;
    border-radius: 300px 300px 0px 0px;
    align-items: center;
    margin-bottom: 32px;
}

.img-box1 {
    background: rgba(167, 33, 98, 0.15);
}

.img-box2 {
    background: rgba(5, 151, 160, 0.15);}

.img-box3 {
    background: rgba(71, 125, 17, 0.15);
}

.box-img1 {
    width: 310px;
    height: 428px;
    padding: 20px;
}

.box-img2 {
    width: 370px;
    height: 370px;
    padding-top: 50px;
    padding-left: 15px;
}

.box-img3 {
    width: 300px;
    height: 450px;
    padding-bottom: -50px;
}

/* section 3 styles */

.section3-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 80%;
    height: 265px;
    border-radius: 8px;
    background: #2727270D;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 128px;
    padding-top: 86px;
}

/* section 4 styles */

.section4-container {
    display: flex;
    gap: 186px;
    justify-content: center;
    background: rgba(229, 84, 115, 0.322);
}

.section4-header {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 230px;
}
.section4-text {
    text-align: center;
}

.section4-description {
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    margin-bottom: 32px;
}

.section4-img {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* section 5 styles */

.section5-container {
margin-bottom: 128px;
}

.section5-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section5-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-bottom: 48px;
}

.section5-photo>img {
    margin-left: 10px;
    margin-right: 10px;
    width: 239px;
    height: 277px;
}

/* section 6 styles */

.section6-container {
    text-align: center;
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 449px;
    margin-left: 10%;
    margin-bottom: 128px;
}

.section6-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}

.section6-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
}

/* footer section style */

footer {
    height: 449px;
    background: #111010;
    color: white;
    line-height: 1.8em;
    text-align: center;
}

.footer-header {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top: 128px;
    padding-bottom: 24px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
    width: 50%;
    margin: auto;
}

.footer-copy {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* bonus section style */

.bsection-container {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 70px;
    padding: 10px;
}

.bsection-box {
    display: flex;
    justify-content: space-around;
}

.bsection-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}

.flower {
    height: 200px;
    width: 300px;
}

.bsection-article {
    text-align: justify;
    height: 200px;
    width: 300px;
}