/* shared styles */

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.btn{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

/* section 1 styles */

.section1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: grey; */
    background-color: #E554731A;
    padding: 0px 240px;
}

.section1-header {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 197px;
    margin-bottom: 32px;
    width: 700px;
    height: 280px;
}

.section1-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    width: 634px;
    height: 90px;
}

.section1-img {
    width: 508px;
    height: 640px;
    /* width and height scaled down to 80% from original to look better*/
    padding-top: 50px;
}

.section1-btn {
    margin-bottom: 167px;
}

/* section 2 styles */

.section2-text {
    text-align: center;
    margin-top: 178px;
}

.section2-header {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.section2-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.section2-box-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 128px;
}

.box {
    /* background-color: grey; */
    text-align: center;
}
.box a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.img-box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    align-items: center;
    margin-bottom: 32px;
}

.box-img1 {
    width: 310px;
    height: 428px;
    /* background-color: black; */

}

.box-img2 {
    width: 370px;
    height: 370px;
    /* background-color: black; */

}

.box-img3 {
    width: 314px;
    height: 471px;
    /* background-color: black; */
}

/* section 3 styles */

.section3-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 1275px;
    height: 265px;
    border-radius: 8px;
    background-color: #2727270D;    /* background-color: black; */
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 128px;
    padding-top: 86px;
}
